/* Universal Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Body Styling */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    background-image: url(../Images/459817.webp);
    background-repeat: repeat;
    background-size: contain;
    height: 1700px;
}

/* Header Universal Styling */
header{
    background-color:#683C9D;
    background-image: url(../Images/wp4121457.jpg);
    background-position: center;
    background-size: cover;
}

header h1 {
    font-family: 'Sancreek', cursive;
    color: #8416c4;
    position: relative;
    top: 50px;
    right:180px;
    font-size: 90px;
    -webkit-text-stroke: #000000 5px;
}

/* Search Box Styling */
#movie-search {
    margin-left: 5px;
}

#search-box {
    display: flex;
    font-size: larger;
    flex-direction: column;
    position: relative;
    height: 625px;
    width: 450px;
    top: 145px;
    left: 40px;
}

#movie-search {
    position: relative;
    left: 40px;
    height: 50px;
    width: 80%;
    background-color: whitesmoke;
}

#search-button {
    position: relative;
    left: 45px;
    top: 15px;
    height: 50px;
    width: 80%;
}

#search-button:hover {
    background-color: red;
}

#previous-search {
    position: relative;
    bottom: 50px;
}

/* Synopsis Styling */
#syn-info h2 {
    position: relative;
    bottom: 100px;
    -webkit-text-stroke: black 1px;
    font-size: 32px;
}

#user-ratings {
    position: relative;
    bottom: 600px;
    left: 950px;
    height: 100px;
    width: 250px;
    font-size: 32px;;
    background-color: blueviolet;
}

#synopsis {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 580px;
    left: 500px;
    height: 600px;
    width: 1150px;
    font-size: 22px;
}

#syn-info {
    width: 800px;
    text-align: center;
    padding: 150px;
}

#syn-info h2 {
    font-size: 100px;
    position: relative;
    top: 100px;
}

#movie-poster {
    margin-top: 20px;
}

/* Review Section Styling */
#movie-image {
    background-image: url(../Images/Neon\ Movie.jpg);
    background-position: center;
    position: relative;
    height: 400px;
    width: 500px;
    bottom: 500px;
    left: 25px;
}

#movie-ratings {
    background-color: blueviolet;
    position: relative;
    bottom: 950px;
    height: 550px;
    width: 1050px;
    left: 560px;
}

#movie-search{
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    background-image: url("../Images/movie_scroll.jpeg");
}                  

#movie-ratings h2 {
    position: relative;
    top: 210px;
    font-size: 100px;
    -webkit-text-stroke: black 1px;
}

